.DailyForecast {
  display: grid;
  opacity: 90%;
}
.DailyForecast-info {
  color: #2480dd;
  justify-content: space-around;
}
.DailyForecast-maxtemp {
  margin-right: 5px;
}
.DailyForecast-mintemp {
  margin-left: 5px;
}

.DailyForecast-info .row {
  background-color: #231ba2;
}
