.DailyForecast {
  color: aqua;
  display: grid;
}
.DailyForecast-info {
  background-color: #231ba2;
}
.DailyForecast-maxtemp {
  margin-right: 5px;
  background-color: #231ba2;
}
.DailyForecast-mintemp {
  margin-left: 5px;
  background-color: #231ba2;
}

.DailyForecast canvas {
  float: left;
}
