:root {
  --primary-text-color: #e6eafa;
}

.Weather {
  border-radius: 5px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #959be5;

  background: linear-gradient(to top, #a39df0 0%, #776efe 100%);
}
.Weather form {
  font-family: "Courier New", Courier, monospace;
  border-radius: 3px;
  text-align: center;
}
.Weather h1 {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 75px;
}
.Weather .Country {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 20px;
}

.Weather h3 {
  color: var(--primary-text-color);
  opacity: 90%;
  font-weight: bold;
  font-size: 35px;
}

.Weather li {
  list-style: none;
}
.Weather .col-5 {
  font-size: 25px;
  opacity: 70%;
  margin-top: 75px;
}

.Weather canvas {
  margin: 10px auto;
}
