.Weather {
  border: 1px solid #8bba8c;
  border-radius: 5px;
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #4a4db6;
}
.Weather form {
  font-family: "Courier New", Courier, monospace;
  border-radius: 3px;
  text-align: center;
}
.Weather h1 {
  color: #082949;
  font-weight: bold;
  font-size: 75px;
}
.Weather .Country {
  color: #082949;
  font-weight: bold;
  font-size: 20px;
}

.Weather h3 {
  color: #082949;
  opacity: 90%;
  font-weight: bold;
  font-size: 35px;
}

.Weather li {
  list-style: none;
}
.Weather .col-5 {
  font-size: 25px;
  opacity: 70%;
  margin-top: 75px;
}

.Weather .Temp {
  display: float;
  margin-right: 140px;
  margin-bottom: 100px;
}
.Temp {
  font-size: 150px;
}
.Weather strong {
  color: #f65282;
}
.Weather img {
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
}
.Weather .currentWeatherIcon {
  image-resolution: from-image 300dpi;
}
.Weather .Unit {
  font-size: 45px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -65px;
  left: -35px;
  text-decoration: none;
  margin: 7px;
}

.unitButton {
  color: #f65282;
  font-size: 25px;
  width: 90px;
  background-color: #082949;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
}
