.Weather .FahrenheitUnit {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -65px;
  left: -35px;
  text-decoration: none;
  margin: 7px;
}
.Weather .CelsiusUnit {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -65px;
  left: -35px;
  text-decoration: none;
  margin: 7px;
}
.unitButton {
  color: #e6eafa;
  font-size: 25px;
  width: 90px;
  background-color: #776efe;
  margin: 10px;
  margin-bottom: 60px;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
}
.Weather .Temp {
  display: float;
  margin-left: 80px;
  margin-bottom: 10px;
}
.Temp {
  font-size: 150px;
}
